<!DOCTYPE html>
<html>
    <body>
        <p>Name: {{ name }}</p>
        <p>Contact: {{ phone }}</p>
        <table>
            <tr>
                <th>Timestamp</th>
                <th></th><th></th>
                <th>Latitude</th>
                <th></th>
                <th>Longitude</th>
            </tr>
            {% for location in locationdata %}
            <tr>
                <td>{{ location.timestamp }}</td>
                <td></td><td></td>
                <td>{{ location.latitude }}</td>
                <td></td>
                <td>{{ location.longitude }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>